@font-face{
  font-family : "Inconsolata";
  font-display:fallback;
  src : url('./fonts/Inconsolata.eot');
  font-style : normal;
  font-weight : normal;

}
body{
  font-family: "Roboto";
}

*{
  
  
  /* border : 1px gray solid */
}
.radiusAndPadding{
  padding : 1rem;
  border-radius: 10px;

}
.maxheight {
  min-height : 80rem
}
body{
  
  height : 100%;
}
.column{
  display: flex;
  flex-direction: column;

  align-items: center;
}
.row{
  display: flex;
  flex-direction: row;

}
/* !검색박스 */
.searchBox {
  /* border : 1px gray solid;   */
  /* position: fixed; */
  /* top: 30px; */

  
  
  /* font-weight: bold; */
 
  
}
/* ! weather of City */
.weatherOfCity {
  position: fixed;
  left : 40%;
  top : 60px;
  /* border : 1px red solid; */
  width: 100%;
  min-height: 100%;
}
/* ! 투명 색 */
.transperentColor {
  background-color : rgba(255,255,255,0.5)
}
/* !사이드바 */
.sidebar{
  width : 200px;
  background-color: rgba(255, 255, 255, 0.1);
  
  position: fixed;
  height : 100%;
  overflow : scroll;
}
.sidebar::-webkit-scrollbar { 
  display: none;
  width: 0 !important;
}
.pink{
  margin-left : 200px;

  /* border : 1px pink solid; */
  width: 100%;
 
  /* position: fixed; */ 
  /* 이거 하면 sidebar를 가려서 sidebar클릭이 안됨 */
}


.loadingBox {
  position: relative;
  bottom:0;
  
  margin-top: 300px;
  margin-left: 100px;
  
  
}
.loadingBox h1{
  text-align: center;
  
}
.loadingBox .circle {
  margin-left: auto;margin-right: auto; 
  width:40px; height:40px; 
  border:10px solid #fff; 
  border-top:10px solid rgb(176, 233, 168); 
  border-radius:50em; 
  transition:all .2s;
  animation-name:spinCircle;
  animation-duration:.8s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

@keyframes spinCircle {
  from {
      transform:translate(-50%, -50%) rotate(0);
  }
  to {
      transform:translate(-50%, -50%) rotate(360deg);
  }
}